@import url('https://fonts.googleapis.com/css?family=Lobster');



h1, h2, h3, h4{
	padding: 40px 0 40px;
}

#video {
    padding:150px; 
    height:500px; 
    color:#fff; 
    background-color: #00bcd4!important;
}

.thumbnail{
	padding: 30px;
}

body {
		background-color: #050948;
    font-family: Lobster;
    font-size: 20px;		
}

.carousel-inner > .item > img {
      margin: 0 auto;
}

.small-screen {
  display: none;
}

.medium-screen {
  display: none;
}

.fa-facebook-official {
  font-size: 30px !important;
  color: #4267b2;
  /*border-radius: 30px !important;*/
  background-color: #eeeeee;

}

.fa-facebook-official:hover {
  color: #eeeeee;
  background-color: #4267b2;
  font-size: 30px !important;
  /*border-radius: 30px;*/
  /*border: 3px solid;
  border-color: #eeeeee;*/
  transition: 0.2s ease;
}

.fa-vk {
  margin-left: 5px;
  font-size: 27px !important;
  color: #eeeeee;
  border-radius: 2px;
  background-color: #4267b2;  
}

.fa-vk:hover {
  color: #4267b2;
  background-color: #eeeeee;
  font-size: 27px !important;
  border-top: 2px solid;
  border-top-color: #4267b2;
  border-bottom: 2px solid #4267b2;
  transition: 0.2s ease;  
}

.year {
  font-size: 12px !important;
}



  
@media screen and (max-width: 1007px) {

	.large-screen {
    display: none;
  }

  .medium-screen {
    display: block;
    margin: 0 auto;
  }
}

  @media screen and (max-width: 680px) {
  	.small-screen {
    display: block;
    margin: 0 auto;
  }

  .medium-screen {
    display: none;
  }

  .large-screen {
    display: none;
  }
}

  @media screen and (max-width: 500px) {
  	.small-screen {
    display: block;
    margin: 0 auto;
  }

  .medium-screen {
    display: none;
  }

  .large-screen {
    display: none;
  }
}

  @media screen and (max-width: 374px) {
  	.small-screen {
    display: block;
    margin: 0 auto;
  }

  .medium-screen {
    display: none;
  }

  .large-screen {
    display: none;
  }
 }
